.elementInCenter
{
  text-align: center;
}
.img-circle
{
  border-radius: 50%;
}

.planoDeFundo
{
  background-image: url("../img/fundo.jpg");
  background-size: 1350px 100%;
  /* background-color: #18dcff; */
}
.fonteMaior
{
  font-size: 42px;
}
.letraBranca
{
  color: #ffffff;
}
.letraBlack
{
  color: #34495e;
}
header .intro-text
{
  padding-top: 300px;
  padding-bottom: 300px;
}
