.elementInCenter{
  text-align: center;
}

.planoDeFundo{
  /* background-image: url("../img/fundo.jpg"); */
  background-color: #18dcff;
}
.fonteMaior{
  font-size: 42px;
}
.letraBranca{

  color: #ecf0f1;
}
