.elementInCenter
{
  text-align: center;
}
.img-circle
{
  border-radius: 50%;
}
.smpCentro
{
  background-size: cover;
  width: 100%;
  background-position: center center;
  text-align: center;
  background: fixed;
}
.planoDeFundo
{
  background-image: url("../img/fundo.jpg");
  background-size: 100% 100%;

  /* background-color: #18dcff; */
  /* background-image: url('../img/fundo.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white; */
}
.fonteMaior
{
  font-size: 42px;
}
.letraBranca
{
  color: #ffffff;
}
.letraBlack
{
  color: #34495e;
}
.shadow {
    text-shadow: black 0.1em 0.1em 0.2em;
}
header .intro-text
{
  padding-top: 300px;
  padding-bottom: 300px;
}
